form{
    display: flex;
    flex-direction: column;
    margin: 15vh auto;
    width: 400px;
    border: 1px solid gray;
    padding: 10px;
}

form span:first-child{
    padding: 10px;
    font-weight: bold;
    background-color: gray;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}
form span:last-child{
    background-color: gray;
    color: #fff;
    font-size: 38px;
    font-weight: bolder;
    margin-top: 10px;
    padding: 10px;
}
label{
    text-transform: uppercase;
    font-weight: bold;
}
input{
    padding: 10px;
    font-size: 24px;
    border:2px solid gray;
    margin: 10px 0;
    outline: none;
}
input::placeholder{
    font-size: 16px;
}
button{
    border: none;
    background-color:steelblue;
    color: white;
    padding: 10px;
    cursor: pointer;
}